html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="text"], input[type="email"], input[type="tel"], textarea { -webkit-appearance: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
*:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body { background-color: #fff; font-family: Arial, sans-serif; font-size: 12px; line-height: 1.4; position: relative; }

@font-face { font-family: "Roboto Regular"; src: url("fonts/RobotoRegular.eot"); src: url("fonts/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("fonts/RobotoRegular.woff2") format("woff2"), url("fonts/RobotoRegular.woff") format("woff"), url("fonts/RobotoRegular.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "Futura Demic Regular"; src: url("fonts/FuturaDemiCRegular.eot"); src: url("fonts/FuturaDemiCRegular.eot?#iefix") format("embedded-opentype"), url("fonts/FuturaDemiCRegular.woff2") format("woff2"), url("fonts/FuturaDemiCRegular.woff") format("woff"), url("fonts/FuturaDemiCRegular.ttf") format("truetype"); font-weight: normal; font-style: normal; }
a { color: #19223c; text-decoration: underline; }

h1 { color: white; font: 400 48px/60px "Futura Demic Regular", sans-serif; text-transform: uppercase; }

h2 { color: #19223c; font: 400 72px/48px "Futura Demic Regular", sans-serif; }

h3 { color: #19223c; font: 30px/48px "Futura Demic Regular", sans-serif; }

h5 { color: #19223c; font: 30px/48px "Futura Demic Regular", sans-serif; }

.btn { font-family: "Futura Demic Regular"; font-size: 11px; font-weight: 400; line-height: 20px; text-align: center; text-transform: uppercase; }

.btn_transparent { background-color: transparent; border: 2px solid white; color: white; height: 34px; text-align: center; width: 159px; }

.btn__blue { background-color: #00b0dc; border: 2px solid #00b0dc; height: 68px; text-align: center; width: 356px; }

.title { color: #19223c; font: 400 18px/1 "Futura Demic Regular", sans-serif; margin-bottom: 3px; padding-top: 63px; text-align: center; text-transform: uppercase; }
@media only screen and (max-width: 480px) { .title { font-size: 17px; padding-top: 30px; line-height: 1.5; } }

.subtitle { color: #19223c; font: 400 72px/1 "Futura Demic Regular", sans-serif; margin-bottom: 38px; padding-top: 0; position: relative; text-align: center; text-transform: uppercase; z-index: 10; }
@media only screen and (max-width: 720px) { .subtitle { font-size: 45px; margin-bottom: 10px; } }
@media only screen and (max-width: 480px) { .subtitle { font-size: 30px; line-height: 1.5; } }

.is-left { text-align: left; }

.is-right { text-align: right; }

.is-center { text-align: center; }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }

.inner { margin: auto; width: 960px; }

.inner_l { max-width: 1350px; padding: 0 20px; position: relative; width: 96%; }
.inner_l:before, .inner_l:after { content: " "; display: table; }
.inner_l:after { clear: both; }
@media only screen and (max-width: 900px) { .inner_l { width: 94%; padding: 0; } }

.logo { background: url('../img/icons-s553e241ae1.png') 0 -445px no-repeat; width: 119px; height: 16px; color: transparent; font-size: 0; }

.top { background-color: #19223c; min-height: 40px; overflow: hidden; }
.top__logo { float: left; margin-top: 12px; }
@media only screen and (max-width: 900px) { .top__logo { display: block; float: right; margin-right: 20px; margin-top: 20px; } }
.top__nav { float: right; padding-top: 12px; }
@media only screen and (max-width: 900px) { .top__nav { float: none; margin: 50px 0 25px; padding: 0; } }
.top__nav ul { list-style: none; }
.top__nav li { display: inline-block; font-size: 11px; margin-right: 15px; vertical-align: middle; }
.top__nav li:last-child { margin-right: 0; }
@media only screen and (max-width: 900px) { .top__nav li { display: block; font-size: 20px; margin: 0; } }
.top__nav li a { font-family: "Futura Demic Regular", sans-serif; color: #fff; padding: 0 5px; text-decoration: none; text-transform: uppercase; }
@media only screen and (max-width: 900px) { .top__nav li a { display: block; padding: 5px 0; text-indent: 20px; } }
.top__nav li a:hover, .top__nav li a:focus { color: #00aed9; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; -webkit-transition: all 0.5s ease; transition: all 0.5s ease; }
@media only screen and (max-width: 900px) { .top__nav li a:hover, .top__nav li a:focus { background-color: #00abd6; color: #000; display: block; text-decoration: none; transform: scale(1); } }

.main { background: url("../img/top-bg.jpg") no-repeat 0 0; width: 1366px; height: 757px; height: auto; min-height: 757px; overflow: hidden; padding-bottom: 58px; position: relative; width: auto; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }
.main__title { margin: 103px 0; position: relative; }
.main__title:after { border-bottom: 2px solid white; bottom: -30px; content: " "; display: block; left: 0; position: absolute; width: 65px; }
@media only screen and (max-width: 800px) { .main__title { font-size: 39px; } }
@media only screen and (max-width: 640px) { .main__title { font-size: 35px; } }
@media only screen and (max-width: 600px) { .main__title { margin: 80px 0; } }
@media only screen and (max-width: 480px) { .main__title { font: 20px/1.5 "Futura Demic Regular", sans-serif; margin: 70px 0; }
  .main__title:after { bottom: -15px; } }
.main__cont { color: white; float: left; font: 400 16px/36px "Futura Demic Regular", sans-serif; min-width: 410px; overflow: hidden; padding-right: 30px; text-transform: uppercase; width: 35%; }
@media only screen and (max-width: 900px) { .main__cont { min-width: 350px; } }
@media only screen and (max-width: 720px) { .main__cont { min-width: 285px; } }
@media only screen and (max-width: 620px) { .main__cont { min-width: 270px; } }
@media only screen and (max-width: 600px) { .main__cont { float: none; margin-bottom: 30px; min-width: auto; padding-right: 0; width: auto; } }
@media only screen and (max-width: 480px) { .main__cont { font-size: 16px; line-height: 1.7; } }
.main__l:before, .main__l:after { content: " "; display: table; }
.main__l:after { clear: both; }
.main .btn_transparent { position: absolute; right: 10px; top: 14px; }

.registration { background-color: white; border: 3px solid #00b0dc; float: right; min-height: 398px; padding-bottom: 4.51552%; padding-left: 5.73848%; padding-right: 5.26811%; padding-top: 2.53998%; width: 36.61538%; width: 476px; }
@media only screen and (max-width: 1024px) { .registration { width: auto; } }
@media only screen and (max-width: 800px) { .registration { min-height: 390px; } }
@media only screen and (max-width: 640px) { .registration { min-height: 387px; } }
@media only screen and (max-width: 600px) { .registration { min-height: auto; float: none; width: auto; } }
.registration__title { color: #00b0dc; font: 400 30px/48px "Futura Demic Regular", sans-serif; margin-bottom: 35px; text-align: center; text-transform: uppercase; }
@media only screen and (max-width: 800px) { .registration__title { font-size: 24px; margin-bottom: 25px; } }
@media only screen and (max-width: 640px) { .registration__title { font-size: 20px; } }
@media only screen and (max-width: 480px) { .registration__title { margin-bottom: 10px; } }
.registration input { border: 2px solid #ccc; display: block; height: 34px; padding: 0 20px; width: 100%; }
.registration input:-ms-input-placeholder { text-align: center; text-transform: uppercase; }
.registration input:-moz-placeholder { text-align: center; text-transform: uppercase; }
.registration input::-moz-placeholder { text-align: center; text-transform: uppercase; }
.registration input::-webkit-input-placeholder { text-align: center; text-transform: uppercase; }
.registration input::placeholder { text-align: center; text-transform: uppercase; }
.registration input[type=checkbox] { border: 2px solid #ccc; display: inline-block; height: 19px; margin-right: 20px; padding: 0; vertical-align: middle; width: 21px; width: auto; }
.registration label { display: block; margin-bottom: 19px; width: 100%; }
.registration label .check { color: #00b0dc; display: inline-block; font: 400 12px/20px "Futura Demic Regular", sans-serif; text-decoration: underline; text-transform: uppercase; vertical-align: middle; }
.registration label[for=ac] { display: inline-block; width: auto; }
.registration button[type=button] { background-color: #00b0dc; border: 2px solid #00b0dc; color: white; font: 400 18px/40px "Futura Demic Regular", sans-serif; height: 68px; outline: 0; text-transform: uppercase; width: 100%; }
.registration button[type=button]:active { -moz-transition: all 0.1s ease; -o-transition: all 0.1s ease; -webkit-transition: all 0.1s ease; transition: all 0.1s ease; background-color: #25A0BE; }
@media only screen and (max-width: 480px) { .registration button[type=button] { height: 40px; } }

.merchants { font-size: 0; min-height: 523px; }
@media only screen and (max-width: 720px) { .merchants { margin-bottom: 60px; } }

.fig { display: inline-block; min-height: 432px; position: relative; text-align: center; vertical-align: top; width: 33%; margin-bottom: 60px; }
@media only screen and (max-width: 720px) { .fig { display: block; margin-bottom: 0px; min-height: auto; width: 100%; }
  .fig:last-of-type { margin-bottom: 20px; } }
.fig__wrp { margin-bottom: 65px; min-height: 318px; position: relative; }
@media only screen and (max-width: 720px) { .fig__wrp { margin-bottom: 10px; } }
.fig__wrp img { bottom: 0; display: block; height: auto; left: 0; margin: auto; max-width: 100%; position: absolute; right: 0; top: 0; }
.fig figcaption { color: #19223c; font: 400 14px/22px "Roboto Regular", sans-serif; position: relative; text-align: left; }
@media only screen and (max-width: 720px) { .fig figcaption { text-align: center; font-size: 18px; } }
.fig figcaption span { color: #19223c; display: block; font: 400 36px/42px "Futura Demic Regular"; left: 0px; position: absolute; text-transform: uppercase; top: -20px; }
@media only screen and (max-width: 720px) { .fig figcaption span { position: static; display: inline; } }
.fig figcaption p { margin-left: 40px; }
@media only screen and (max-width: 720px) { .fig figcaption p { display: inline; margin-left: 15px; } }

.difference { font-size: 0; margin-bottom: 40px; min-height: 363px; overflow: hidden; }
.difference__cont { display: inline-block; font-size: 0; font-size: 14px; padding-right: 3.84615%; text-align: center; vertical-align: top; width: 25%; }
@media only screen and (max-width: 720px) { .difference__cont { margin-bottom: 30px; width: 50%; }
  .difference__cont:nth-of-type(even) { padding-right: 0; } }
@media only screen and (max-width: 480px) { .difference__cont { display: block; padding: 0 15px; width: 100%; } }
.difference__cont h6 { border-bottom: 2px solid #eaebeb; color: #19223c; font: 400 14px/20px "Futura Demic Regular", sans-serif; margin-bottom: 35px; padding-bottom: 30px; position: relative; text-align: center; text-transform: uppercase; }
.difference__cont h6:after { background-color: #00b0dc; bottom: -15px; content: " "; display: block; height: 15px; left: 50%; margin-left: -7.5px; position: absolute; width: 15px; z-index: 99; }
.difference__cont p { font-family: "Futura Demic Regular", sans-serif; color: #666; font-size: 14px; font-weight: 400; line-height: 22px; text-align: left; }

.girl { background: url("../img/girl.jpg") no-repeat 0 0; width: 1366px; height: 730px; min-height: 730px; padding-top: 85px; width: auto; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }
.girl blockquote { color: white; display: inline-block; float: right; font: 400 30px/40px "Roboto Regular", sans-serif; max-width: 530px; min-height: 186px; overflow: hidden; text-transform: uppercase; }
@media only screen and (max-width: 720px) { .girl blockquote { font-size: 25px; } }
@media only screen and (max-width: 480px) { .girl blockquote { font-size: 20px; float: none; } }

.customers { background-color: #fff; margin-bottom: 65px; min-height: 605px; }
.customers__center { color: #666; font: 400 14px/22px "Futura Demic Regular", sans-serif; margin-bottom: 90px; text-align: center; }
.customers figcaption { text-align: center; color: #19223c; }

.mid { border-style: solid; border-width: 2px; margin-bottom: 114px; margin-top: 90px; position: relative; text-align: center; }
.mid_blue { border-color: #00b0dc; padding: 0 40px; }
.mid__name { background-color: #FFF; display: inline-block; font: 400 30px/48px "Futura Demic Regular", sans-serif; position: relative; text-align: center; text-transform: uppercase; top: -20px; z-index: 20; }
.mid__name_blue { color: #00b0dc; padding: 0 34px; }
@media only screen and (max-width: 480px) { .mid__name_blue { font-size: 17px; line-height: 1.4; padding: 0; } }
.mid__btn { background-color: #00b0dc; border: 2px solid #00b0dc; color: white; display: block; font: 400 18px/68px "Futura Demic Regular", sans-serif; height: 68px; margin: 77px auto 42px; max-width: 621px; outline: 0; text-transform: uppercase; width: 100%; }
.mid__btn:active { -moz-transition: all 0.1s ease; -o-transition: all 0.1s ease; -webkit-transition: all 0.1s ease; transition: all 0.1s ease; background-color: #25A0BE; }
@media only screen and (max-width: 720px) { .mid__btn { margin: 30px 0 30px; } }

.mid_black { border-color: #19223c; color: #19223c; min-height: 231px; padding: 0 100px; }
@media only screen and (max-width: 720px) { .mid_black { padding: 0 40px 20px; } }
.mid__name_black { color: #19223c; padding: 0 100px; }
@media only screen and (max-width: 720px) { .mid__name_black { font-size: 25px; padding: 0 20px; } }
.mid__text_black { color: #19223c; font: 400 14px/22px "Roboto Regular"; }

.industry { background-size: 100%; background: #065071 url(../img/ind__top.jpg) no-repeat top center; padding-top: 140px; position: relative; }
@media only screen and (max-width: 720px) { .industry { padding-top: 80px; } }
.industry__wrap { background: url(../img/ind__bot.jpg) no-repeat bottom center; background-size: 100%; padding-bottom: 82px; }
.industry__title { color: #fff; font: 400 72px/48px "Futura Demic Regular"; padding: 0 0 82px; text-align: center; text-transform: uppercase; }
@media only screen and (max-width: 720px) { .industry__title { font-size: 40px; padding: 40px 0; } }
.industry__top { font-size: 0; }
.industry__bl { display: inline-block; font-size: 15px; padding-right: 20px; text-align: center; vertical-align: top; width: 25%; }
.industry__bl__icon { display: block; outline: 1px solid red; }
@media only screen and (max-width: 720px) { .industry__bl { width: 50%; } }
.industry__name { color: #00b0dc; display: block; font: 400 16px/36px "Futura Demic Regular", sans-serif; margin-bottom: 60px; position: relative; text-align: center; text-transform: uppercase; }
.industry__name:after { border-bottom: 2px solid #00b0dc; bottom: -25px; content: " "; display: block; left: 50%; margin-left: -50px; position: absolute; width: 100px; }
.industry__bottom { background: url("../img/paper.png") no-repeat 0 0; width: 494px; height: 463px; background-position: bottom center; height: auto; width: auto; }
.industry__bottom .industry__bl { display: block; width: auto; }
.industry__bottom:before, .industry__bottom:after { display: table; content: " "; }
.industry__bottom:after { clear: both; }
@media only screen and (max-width: 720px) { .industry__bottom { background: none; } }
.industry__col { width: 25%; }
@media only screen and (max-width: 720px) { .industry__col { width: 50%; } }
.industry .col1 { float: left; }
.industry .col2 { float: right; }

.icon__on { background: url('../img/icons-s553e241ae1.png') 0 -471px no-repeat; width: 94px; height: 93px; margin-bottom: 40px; display: inline-block; }

.icon__re { background: url('../img/icons-s553e241ae1.png') 0 -678px no-repeat; width: 109px; height: 94px; margin-bottom: 40px; display: inline-block; }

.icon__sp { background: url('../img/icons-s553e241ae1.png') 0 -782px no-repeat; width: 95px; height: 93px; margin-bottom: 40px; display: inline-block; }

.icon__gr { background: url('../img/icons-s553e241ae1.png') 0 -341px no-repeat; width: 70px; height: 94px; margin-bottom: 40px; display: inline-block; }

.icon__ph { background: url('../img/icons-s553e241ae1.png') 0 -574px no-repeat; width: 43px; height: 94px; margin-bottom: 40px; display: inline-block; }

.icon__bi { background: url('../img/icons-s553e241ae1.png') 0 0 no-repeat; width: 94px; height: 93px; margin-bottom: 40px; display: inline-block; }

.icon__fa { background: url('../img/icons-s553e241ae1.png') 0 -237px no-repeat; width: 88px; height: 94px; margin-bottom: 40px; display: inline-block; }

.icon__ca { background: url('../img/icons-s553e241ae1.png') 0 -103px no-repeat; width: 89px; height: 94px; margin-bottom: 40px; display: inline-block; }

.footer { font-size: 0; background-color: #19223c; color: #fff; padding: 35px 0 65px; }
.footer__logo { float: left; margin-top: 0px; }
@media only screen and (max-width: 900px) { .footer__logo { display: none; } }
.footer__title { font-family: "Roboto Regular", sans-serif; font-size: 12px; text-transform: uppercase; font-size: 16px; }
.footer__text { font-family: "Roboto Regular", sans-serif; font-size: 12px; margin-bottom: 45px; overflow: hidden; }
@media only screen and (max-width: 480px) { .footer__text { font-size: 14px; } }
.footer__bl { display: inline-block; padding-right: 20px; vertical-align: top; width: 33%; }
.footer__bl:last-child { padding-right: 0; }
.footer__bl > div { display: inline-block; text-align: left; }
.footer__bl p { font-family: "Roboto Regular", sans-serif; color: #fff; font-size: 12px; line-height: 1.5; }
.footer__bl a { color: #fff; display: block; font-size: 12px; line-height: 1.5; text-decoration: none; }
@media only screen and (max-width: 480px) { .footer__bl { display: block; padding-right: 0; text-align: left; width: auto; } }
.footer__adr, .footer__btcont { margin-bottom: 20px; }
@media only screen and (max-width: 480px) { .footer__adr, .footer__btcont { display: none; } }
.footer h4 { color: #00b0dc; margin-bottom: 20px; }
.footer__main { margin-left: 159px; overflow: hidden; }
@media only screen and (max-width: 900px) { .footer__main { margin-left: 0; } }
