// Normally mainpage styles
$bg: #19223c
$fontSize: 11px
$img: '../img/'
$blue: #00b0dc
$sc: 1.05

.inner
	margin: auto
	width: 960px

.inner_l
	max-width: 1350px
	padding: 0 20px	
	position: relative
	width: 96%
	&:before, &:after
		content: ' '
		display: table
	&:after
		clear: both
	+r(900)
		width: 94%
		padding: 0

.logo
	+s(logo)
	color: transparent
	font-size: 0

//TOP
.top
	background-color: $bg
	min-height: 40px
	overflow: hidden

	&__logo 
		float: left
		margin-top: 12px
		+r(900)
			display: block
			float: right
			margin-right: 20px
			margin-top: 20px
	&__nav
		float: right
		padding-top: 12px
		+r(900)
			float: none
			margin: 50px 0 25px
			padding: 0

		ul
			list-style: none

		li
			display: inline-block
			font-size: 11px
			margin-right: 15px
			vertical-align: middle
			&:last-child
				margin-right: 0

			+r(900)
				display: block
				font-size: 20px
				margin: 0

			a
				+fRegular
				color: #fff
				padding: 0 5px
				text-decoration: none
				text-transform: uppercase
				+r(900)
					display: block
					padding: 5px 0
					text-indent: 20px
				&:hover, &:focus
					color: darken($blue, .6)
					+tr(all 0.5s ease)
					+r(900)
						background-color: darken($blue, 1.2)
						color: #000
						display: block
						text-decoration: none
						transform: scale(1)
//MAIN
.main
	+jpg(top-bg)
	height: auto
	min-height: 757px
	overflow: hidden
	padding-bottom: 58px
	position: relative
	width: auto
	+cover

	&__title
		margin: 103px 0
		position: relative
		&:after
			border-bottom: 2px solid white
			bottom: -30px
			content: ' '
			display: block
			left: 0
			position: absolute
			width: 65px
		+r(800)
			font-size: 39px
		+r(640)
			font-size: 35px
		+r(600)
			margin: 80px 0	
		+r(480)
			font: 20px/1.5 "Futura Demic Regular", sans-serif
			margin: 70px 0
			&:after
				bottom: -15px	

	&__cont
		color: white
		float: left
		font: 400 16px/36px "Futura Demic Regular", sans-serif
		min-width: 410px
		overflow: hidden
		padding-right: 30px
		text-transform: uppercase	
		width: 35%
		+r(900)
			min-width: 350px
		+r(720)
			min-width: 285px
		+r(620)
			min-width: 270px	
		+r(600)
			float: none	
			margin-bottom: 30px
			min-width: auto
			padding-right: 0
			width: auto	
		+r(480)
			font-size: 16px	
			line-height: 1.7

	&__l
		&:before, &:after
			content: ' '
			display: table
		&:after
			clear: both	
	.btn_transparent
		position: absolute
		right: 10px
		top: 14px		

//REGISTRATION
.registration
	background-color: white
	border: 3px solid #00b0dc
	float: right
	min-height: 398px
	padding-bottom: (48px / 1063px) * 100%
	padding-left: (61px / 1063px) * 100%
	padding-right: (56px / 1063px) * 100%
	padding-top: (27px / 1063px) * 100%
	width: (476px / 1300px) * 100% 
	width: 476px
	+r(1024)
		width: auto
	+r(800)
		min-height: 390px	
	+r(640)
		min-height: 387px
	+r(600)
		min-height: auto
		float: none
		width: auto	

	&__title
		color: #00b0dc
		font: 400 30px/48px "Futura Demic Regular", sans-serif
		margin-bottom: 35px
		text-align: center
		text-transform: uppercase
		+r(800)
			font-size: 24px
			margin-bottom: 25px
		+r(640)
			font-size: 20px	
		+r(480)
			margin-bottom: 10px	

	input
		border: 2px solid #ccc
		display: block
		height: 34px
		padding: 0 20px
		width: 100%
		+placeholder
			text-align: center
			text-transform: uppercase
		&[type=checkbox]
			border: 2px solid #ccc
			display: inline-block
			height: 19px
			margin-right: 20px	
			padding: 0
			vertical-align: middle
			width: 21px
			width: auto

	label
		display: block
		margin-bottom: 19px
		width: 100%
		.check
			color: #00b0dc
			display: inline-block
			font: 400 12px/20px "Futura Demic Regular", sans-serif
			text-decoration: underline
			text-transform: uppercase
			vertical-align: middle

	label[for=ac]
		display: inline-block
		width: auto

	button
		&[type=button]
			background-color: #00b0dc
			border: 2px solid #00b0dc
			color: white
			font: 400 18px/40px "Futura Demic Regular", sans-serif
			height: 68px
			outline: 0
			text-transform: uppercase
			width: 100%
			&:active
				+tr(all 0.1s ease)
				background-color: #25A0BE
			+r(480)
				height: 40px	


//MERCHANTS
.merchants
	font-size: 0
	min-height: 523px
	+r(720)
		margin-bottom: 60px

//FIG
.fig
	display: inline-block
	min-height: 432px
	position: relative
	text-align: center	
	vertical-align: top
	width: 33%
	margin-bottom: 60px
	+r(720)
		display: block
		margin-bottom: 0px
		min-height: auto
		width: 100%
		&:last-of-type
			margin-bottom: 20px

	&__wrp
		margin-bottom: 65px
		min-height: 318px
		position: relative
		+r(720)
			margin-bottom: 10px
		
		img
			bottom: 0
			display: block
			height: auto	
			left: 0
			margin: auto
			max-width: 100%
			position: absolute
			right: 0
			top: 0

	figcaption
		color: #19223c
		font: 400 14px/22px "Roboto Regular", sans-serif
		position: relative
		text-align: left
		+r(720)
			text-align: center
			font-size: 18px

		span
			color: #19223c
			display: block
			font: 400 36px/42px "Futura Demic Regular"
			left: 0px
			position: absolute
			text-transform: uppercase	
			top: -20px
			+r(720)
				position: static
				display: inline

		p
			margin-left: 40px
			+r(720)
				display: inline
				margin-left: 15px

//DIFFERENCE
.difference
	font-size: 0
	margin-bottom: 40px
	min-height: 363px
	overflow: hidden

	&__cont
		display: inline-block
		font-size: 0
		font-size: 14px
		padding-right: (50px / 1300px) * 100%
		text-align: center
		vertical-align: top
		width: 25%
		+r(720)
			margin-bottom: 30px
			width: 50%
			&:nth-of-type(even)
				padding-right: 0
		+r(480)
			display: block
			padding: 0	15px	
			width: 100%

		h6
			border-bottom: 2px solid #eaebeb
			color: #19223c
			font: 400 14px/20px "Futura Demic Regular", sans-serif
			margin-bottom: 35px
			padding-bottom: 30px
			position: relative
			text-align: center
			text-transform: uppercase
			&:after
				background-color: #00b0dc
				bottom: -15px
				content: ' '
				display: block
				height: 15px
				left: 50%
				margin-left: -7.5px
				position: absolute
				width: 15px
				z-index: 99

		p
			+fRegular
			color: #666
			font-size: 14px
			font-weight: 400
			line-height: 22px
			text-align: left

//GIRL
.girl
	+jpg(girl)
	min-height: 730px
	padding-top: 85px
	width: auto
	+cover

	blockquote
		color: white
		display: inline-block
		float: right
		font: 400 30px/40px "Roboto Regular", sans-serif
		max-width: 530px
		min-height: 186px
		overflow: hidden
		text-transform: uppercase
		+r(720)
			font-size: 25px
		+r(480)
			font-size: 20px
			float: none	
	

//CUSTOMERS		
.customers
	background-color: #fff
	margin-bottom: 65px
	min-height: 605px

	&__center
		color: #666
		font: 400 14px/22px "Futura Demic Regular", sans-serif
		margin-bottom: 90px
		text-align: center	

	figcaption
		text-align: center
		color: #19223c

//MID, mid_blue		
.mid
	border-style: solid
	border-width: 2px
	margin-bottom: 114px
	margin-top: 90px
	position: relative
	text-align: center

	&_blue
		border-color: #00b0dc
		padding: 0 40px

	&__name
		background-color: #FFF
		display: inline-block
		font: 400 30px/48px "Futura Demic Regular", sans-serif
		position: relative
		text-align: center
		text-transform: uppercase
		top: -20px
		z-index: 20

		&_blue
			color: #00b0dc
			padding: 0 34px	
			+r(480)
				font-size: 17px
				line-height: 1.4	
				padding: 0
	&__btn
		background-color: #00b0dc
		border: 2px solid #00b0dc
		color: white
		display: block
		font: 400 18px/68px "Futura Demic Regular", sans-serif
		height: 68px
		margin: 77px auto 42px
		max-width: 621px
		outline: 0
		text-transform: uppercase
		width: 100%
		&:active
			+tr(all 0.1s ease)
			background-color: #25A0BE
		+r(720)	
			margin: 30px 0 30px	

//MID_black
.mid

	&_black
		border-color: #19223c
		color: #19223c
		min-height: 231px
		padding: 0 100px
		+r(720)
			padding: 0 40px 20px

	&__name
		&_black
			color: #19223c
			padding: 0 100px
			+r(720)
				font-size: 25px
				padding: 0 20px


	&__text
		&_black
			color: #19223c
			font: 400 14px/22px "Roboto Regular"	

//INDUSTRY
.industry
	background-size: 100%
	background: #065071 url(../img/ind__top.jpg) no-repeat top center
	padding-top: 140px
	position: relative
	+r(720)
		padding-top: 80px

	&__wrap
		background:  url(../img/ind__bot.jpg) no-repeat bottom center
		background-size: 100%	
		padding-bottom: 82px

	&__title
		color: #fff	
		font: 400 72px/48px "Futura Demic Regular"
		padding: 0 0 82px
		text-align: center
		text-transform: uppercase
		+r(720)
			font-size: 40px
			padding: 40px 0

	&__top
		font-size: 0

	&__bl
		display: inline-block
		font-size: 15px
		padding-right: 20px
		text-align: center
		vertical-align: top
		width: 25%
		&__icon
			display: block
			outline: 1px solid red
		+r(720)
			width: 50%	

	&__name
		color: #00b0dc
		display: block
		font: 400 16px/36px "Futura Demic Regular", sans-serif
		margin-bottom: 60px
		position: relative
		text-align: center
		text-transform: uppercase
		&:after
			border-bottom: 2px solid #00b0dc
			bottom: -25px
			content: ' '
			display: block
			left: 50%
			margin-left: -50px
			position: absolute
			width: 100px

	&__bottom
		+png(paper)
		background-position: bottom center
		height: auto
		width: auto
		.industry__bl
			display: block
			width: auto
		&:before, &:after
			display: table
			content: " "
		&:after
			clear: both	
		+r(720)
			background: none		
	&__col
		width: 25%
		+r(720)
			width: 50%
	.col1 
		float: left
	.col2
		float: right	

@each $s in on,re,sp,gr,ph,bi,fa, ca
	.icon__#{$s}
		+s(#{$s})
		margin-bottom: 40px
		display: inline-block

//FOOTER
.footer
	font-size: 0
	background-color: $bg
	color: #fff
	padding: 35px 0 65px

	&__logo
		float: left
		margin-top: 0px
		+r(900)
			display: none
	&__title
		+rRegular
		font-size: 12px
		text-transform: uppercase
		font-size: 16px
	&__text
		+rRegular
		font-size: 12px
		margin-bottom: 45px
		overflow: hidden
		+r(480)
			font-size: 14px
	&__bl
		display: inline-block	
		padding-right: 20px
		vertical-align: top
		width: 33%
		&:last-child 
			padding-right: 0
		> div 
			display: inline-block
			text-align: left	
	
		p
			+rRegular
			color: #fff
			font-size: 12px
			line-height: 1.5
		a
			color: #fff
			display: block
			font-size: 12px
			line-height: 1.5
			text-decoration: none
		+r(480)
			display: block
			padding-right: 0
			text-align: left
			width: auto	
	&__adr, &__btcont
		margin-bottom: 20px
		+r(480)
			display: none
	h4 
		color: $blue
		margin-bottom: 20px	

	&__main
		margin-left: 159px
		overflow: hidden	
		+r(900)
			margin-left: 0


	
		

